<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.as3.parmjohal.carbontracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- splash screen -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- dashboard -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <!-- journey -->
        <activity android:name=".SelectCarActivity" />
        <activity android:name=".AddCarActivity" />
        <activity android:name=".SelectRouteActivity" />
        <activity android:name=".EditCarActivity" />
        <activity android:name=".AddRouteActivity" />
        <activity android:name=".ConfirmTripActivity" />
        <activity android:name=".EditRouteActivity" />
    </application>

</manifest>